<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <h1>GCM PUSH TEST</h1>

    <form ACTION="/push" method="post" >
      message1 : <input type="text" name="message1" size="20"/> <br/>
      message2 : <input type="text" name="message2" size="20"/> <br/>
      <input type="submit" value="push!">
    </form>


  </body>
</html>
